include LICENSE
include README.md
include *.txt *.ini *.cfg *.rst
recursive-include django_selenium_pdfmaker/chromedriver
recursive-include django_selenium_pdfmaker/migrations *.py
recursive-include django_selenium_pdfmaker/locale *.mo
recursive-include django_selenium_pdfmaker/locale *.po
recursive-include django_selenium_pdfmaker *.ico *.png *.css *.gif *.jpg *.txt *.js *.html *.xml *.po *.mo
recursive-include django_selenium_pdfmaker *

